@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root{
  --primary: #0E284B;
  --secondary:#134B70;
  --accent: #508C9B;
  --white:#FFFFFF;
  --gray: #8E8E93;
  --dark-gray:#1E1E1E;
  --dark-gray-40: rgba(12,12,12,0.4);
  --background:#EEEEEE;
  --green: #999B50;
  --light-green: #34C759;
  --dark-yellow: #999B50;
  --purple:#76509B;
  --blue:#50659B;
  --orange: #FF6B00;

}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
