@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root{
  --primary: #0E284B;
  --secondary:#134B70;
  --accent: #508C9B;
  --white:#FFFFFF;
  --dark-gray:#1E1E1E;
  --background:#EEEEEE;
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
